body{
    color:white;
    background-color: pink;
}
.heading{
    font-size: 20px;
    width:80%;
}
.objects, #object_result, #accuracy_result{
    color: yellow;
}
#camera{
    width: 320px;
    height: 300px;
    border: 3px dashed lightseagreen;
}